/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --dark: #c1c1c1;
  --darker: #666666;
  --pink: rgb(230, 119, 76);
  --pink-light: rgb(231, 145, 108);
  --pink-lighter: rgb(238, 180, 150);
  --orange: rgb(235, 184, 65);
  --orange-light: rgb(241, 201, 111);
  --orange-lighter: rgb(245, 216, 158);
  --green: rgb(179, 208, 176);
  --green-light: rgb(191, 216, 191);
  --green-lighter: rgb(215, 228, 211);
  --blue: rgb(107, 182, 177);
  --blue-light: rgb(166, 210, 208);
  --blue-lighter: rgb(181, 213, 212);
  --dark-blue: rgb(48, 64, 87);
  --dark-blue-light: rgb(147, 155, 169);
  --dark-blue-lighter: rgb(132, 134, 149);
  --purple: rgb(179, 166, 186);
  --purple-light: rgb(191, 180, 197);
  --purple-lighter: rgb(213, 205, 216);
}

/* body {
  color: #fff;
} */
/********************/
/* Background Color */
/********************/
.bg-light-dark {
  background-color: var(--darker);
}
.c-light-dark {
  color: #fff;
}
.c-pink {
  color: var(--pink);
}
.c-pink-light {
  color: var(--pink-light);
}
.c-pink-lighter {
  color: var(--pink-lighter);
}
.c-orange {
  color: var(--orange);
}
.c-orange-light {
  color: var(--orange-light);
}
.c-orange-lighter {
  color: var(--orange-lighter);
}
.c-green {
  color: var(--green);
}
.c-green-light {
  color: var(--green-light);
}
.c-green-lighter {
  color: var(--green-lighter);
}
.c-blue {
  color: var(--blue);
}
.c-blue-light {
  color: var(--blue-light);
}
.c-blue-lighter {
  color: var(--blue-lighter);
}
.c-dark-blue {
  color: var(--dark-blue);
}
.c-dark-blue-light {
  color: var(--dark-blue-light);
}
.c-dark-blue-lighter {
  color: var(--dark-blue-lighter);
}
.c-purple {
  color: var(--purple);
}
.c-purple-light {
  color: var(--purple-light);
}
.c-purple-lighter {
  color: var(--purple-lighter);
}
/********************/

nav {
  border-top: 3px solid var(--dark);
  box-shadow: 3px 0px 40px var(--dark);
}
nav a img {
  max-width: 50px;
  min-width: 30px;
  border-radius: 50px;
  width: 100%;
}
nav div ul li:hover {
  background-color: var(--darker);
}
a:hover {
  color: #fff !important;
}
form input[type="search"] {
  outline: none;
  border: transparent;
}
form {
  padding: 5px 10px;
  border: 1px solid var(--darker);
  border-radius: 15px;
}
form button {
  padding-left: 3px;
  border: transparent;
  background: transparent;
  outline: none;
  box-shadow: none;
}
/* Hero */
.hero {
  text-align: center;
  padding-top: 3rem;
}
h1 span {
  font-size: 6rem;
  border-bottom: 1px solid var(--blue);
}
.hero-content h2 {
  overflow: hidden;
  font-size: 4rem;
}
.testemonial {
  text-align: center;
  width: 100%;
  padding-top: 3rem;
  overflow: hidden;
}
.testemonial-top h2 {
  text-align: center;
  font-size: 4rem;
}
.review {
  display: flex;
  overflow: hidden;
}
.image-holder {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}
.image-holder img {
  width: 200px;
  left: -43px;
  top: -10px;
  position: absolute;
}
.card {
  border: transparent !important;
}

/* .modal { 
  width: 50vw;
  height: 25vh;
  box-shadow: 10px 10px 20px rgb(54, 54, 54);
  position: fixed;
  display: none;
  transform: translateX(50%) translateY(50%);
}
.display {
  display: block;
}

.modal div {
  height: 50%;
} */

/* .scroll {
  width: 100vw;
  height: 100vw;
} */
